@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

@font-face{
	font-family: fridays ;
	src:url(../fridays/fridays.eot);
	src:url(../fridays/fridays.ttf);
}


*{
	margin: 0;
	padding: 0;
}

/*
==================================
            Global css
==================================
*/

.container{
    width: 1100px;
    margin: auto;
    overflow: hidden;
}

body{
	font-family: 'Open Sans', sans-serif;
}
strong{
    color: #8888889c;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
}
h1{
    text-transform: capitalize;
    font-size: 28px;
    color: #333;
    margin: 12px 0;
}
p{
    margin-bottom: 12px;
    color: #868686;
}
img{
    width: 100%;
    transition-duration: 0.4s;
}
img:hover{
	opacity: 0.6;
}

/*
==================================
             header
==================================
*/
header{
    padding: 30px 0;
}
.logo{
    width: 20%;
    float: left;
}
.logo a{}
.logo a img{}
nav{
    width: 80%;
    float: left;
}
nav ul{
    display: flex;
    justify-content: flex-end;
}
nav ul li{
    list-style: none;
    /* display: inline; */
}
nav ul li a{
    display: block;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 50px;
    padding-right: 0;
    /* padding-top: 12px; */
}
nav ul li a:hover{
    opacity: 0.5;
}

/*
==================================
<!-- banner section start -->
==================================
*/
.banner-section{}
.banner-section img{}

/*
==================================
<!-- blog section start -->
==================================
*/
.blog-section{}
.post-without-img{
    padding: 80px;
}
.post-without-img a{
    color: #8888889c;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    /* float: left; */
}
.post-padd{
    padding: 0 50px;
}
.post-with-img{
    width: 50%;
    float: left;
    padding: 30px;
    box-sizing: border-box;
}
.article-padd{
	padding: 0 70px;
}
article{
    width: 33.33%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    text-align: justify;
}
article h1{
	font-size: 18px;
}

article p{
	font-size: 14px;
}

/*
==================================
footer
==================================
*/
footer{
    background: #efefef;
    padding: 50px 0;
}
.footer-menu{
    width: 50%;
    float: left;
}
.footer-menu ul{}
.footer-menu ul li{
    float: left;
    list-style: none;
}
.footer-menu ul li a{
    color: #000;
    text-decoration: none;
    display: block;
    padding-right: 20px;
    transition-duration: 0.4s;
}
.footer-menu ul li a:hover{
    opacity: 0.5;
}

.social-link{
    width: 50%;
    float: left;
}
.social-link ul{
    text-align: right;
}
.social-link ul li{
    display: inline-block;
    list-style: none;
    /* float: left; */
    margin-left: 10px;
}
.social-link ul li a{
    color: #333;
    display: block;
    border: 1px solid;
    /* background: #333; */
    border-radius: 50%;
    /* padding: 0px; */
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    transition-duration: 0.4s;
}
.social-link ul li a:hover{
    background: #333;
    color: #efefef;
}






